numpy
matplotlib
pandas
seaborn
scipy
plotly
dash
scikit-learn
statsmodels
requests
gunicorn
dash-bootstrap-components
dash-renderer
dash-html-components
dash-core-components
random2
DateTime
requires.io